:root {
    --background-color: #030303;
    --red-color: #FF0000;
    --blue-color: #1807ff;
    --white-color: #FFFFFF;
    --gray-color: #727272;
    --dark-blue: #3A2C95;
    --light-blue: #8F87FC;
}